*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "open sans", sans-serif;
}

/*LAYOUT CLASS*/

.container-full{
    width: 100%;
}

.container70{
    width:70%;
    margin: 0 auto;
}

.container60{
    width:60%;
    margin: 0 auto;
}

.content{
    display: flex;
    flex-wrap: wrap;
}

.relative{
    position: relative;
}

.row{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.col50{
    width: 50%;
}

.col40{
    width: 40%;
}

.col60{
    width: 60%;
}

.col100{
    width: 100%;
}

.col33{
    width: calc(100% / 3 - 35px);
}

.jumbo{
    width: 750px;
    height: 450px;
    position: absolute;
    right: 60px;
}


.partner{
    width: 650px;
    height: 550px;
}


/*UTILITY CLASSES*/

ul{
    list-style: none;
}

li{
    margin-bottom: 20px;
}

.mr20p{
    margin-right: 20px;
}

.mr5p{
    margin-right: 5px;
}

.mt20p{
    margin-top: 30px;
}

.mt10{
    margin-top: 10px;
}

.mt5{
    margin-top: 5px;
}

.mt20{
    margin-top: 20px;
}

.mb20{
    margin-bottom: 20px;
}

.mt50p{
    margin-top: 50px;
}

.mt100p{
    margin-top: 100px;
}

.btn-margin-config{
    margin: 30px 0 30px 0;
}

.mr10p{
    margin-right: 10px;
}

.flx-end{
    justify-content: flex-end;
}

.around{
    justify-content: space-between;
}

.al-cntr{
    align-items: center;
}

.p10p{
    padding: 10px;
}

.p35{
    padding: 35px;
}

.pbox{
    padding: 35px 35px;
}

.ta-cntr{
    text-align: center;
}

.ta-end{
    text-align: end;
}

.evenly{
    display: flex;
    justify-content: space-evenly;
}

.box-height{
    height: 1130px;
}




/*STYLING CLASSES*/

.layouting{
    background-color: rgb(21, 109, 40);
    border: 2px dashed rgb(0, 0, 0);
}


.stylelink{
    color: black;
    text-decoration: none;
}

.btn-blue{
    padding: 15px 30px;
    background-color: #0057E5 ;
    color: white;
    border: none;
}

.btn-white{
    border: 1px solid rgb(175, 175, 175);
    padding: 15px 30px;
    background-color: white;
}

.bg-lightblu{
    background-color: #A1C9F7;
}

.big-h1, .downarrow{
    font-size: 76px;
}

.radius-config{
    border: 2px solid #0057E5;
}

.content-box{
    border: 1px solid rgb(175, 175, 175);
}

.headbox{
    border-bottom: 1px solid rgb(175, 175, 175);
    text-align: center;
    padding: 5px;
}

.grey-txt{
    color: rgb(175, 175, 175);
}

hr{
    width: 50px;
    color:  rgb(175, 175, 175);
}

.l-head{
    font-weight: bold;
}

.check{
    color:#0057E5;
    font-weight: bold;
    margin-right: 5px;
}

