*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "open sans", sans-serif;
}

/*LAYOUT CLASS*/

.container-full{
    width: 100%;
}

.container70{
    width:70%;
    margin: 0 auto;
}

.container50{
    width:50%;
    margin: 0 auto;
}

.content{
    display: flex;
    flex-wrap: wrap;
}

.row{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.col50{
    width: 50%;
}

.col40{
    width: 40%;
    padding: 35px;
    background-color: rgb(21, 109, 40);
    border: 2px dashed rgb(0, 0, 0);
}

.col60{
    width: 60%;
    padding: 35px;
    background-color: rgb(21, 109, 40);
    border: 2px dashed rgb(0, 0, 0);
}

.col100{
    width: 100%;
    padding: 35px;
    background-color: rgb(21, 109, 40);
    border: 2px dashed rgb(0, 0, 0);
}


/*UTILITY CLASSES*/

ul{
    list-style: none;
}

.mr20p{
    margin-right: 20px;
}

.mr10p{
    margin-right: 10px;
}

.flx-end{
    justify-content: flex-end;
}

.al-cntr{
    align-items: center;
}

/*STYLING CLASSES*/

/*
background-color: rgb(21, 109, 40);
border: 2px dashed rgb(0, 0, 0);

background-color: pink;
*/

.stylelink{
    color: black;
    text-decoration: none;
}

.btn-blue{
    padding: 5px 15px;
    background-color: #0057E5 ;
    color: white;
    border: none;
}